* {
  padding:0;
  margin:0;
  list-style:none;
  text-decoration:none;
}

h1, h2 {
  margin:10px;
  padding:10px;
}

h4{
  background: lightgrey;
  padding:6px;
  text-align:center;
  font-size:20px;
}

.titulo{
  border-bottom: 2px solid red;
}

.bigcontainer{
  margin:20px;
  padding:10px;
}


.frutas{
  display:flex;
  overflow:auto;
  text-align:justify;
  gap:20px;
  
}
.frutas-center {
  display:flex;
  overflow: auto;
  text-align:justify;
  align-items: center;
  gap:10px
}

p{
  padding:10px;
  width: 200px;
  margin: 5px;
}

.fruta1-1{
  border: green 2px solid;
}
.fruta1-2{
  border: purple 2px solid;
}

.fruta1-3{
  border: blue 2px solid;
}

.fruta2-1 {
  border: brown 2px solid;
}

.fruta2-2 {
  border: red 2px solid;
}
